# Data Science Tools and Ecosystem

It will be summarized the Data Science Tools and Ecosystem along this notebook.

**Objectives:** <br>
* List of popular languages;
* Examples of libraries for Data Science;
* Tools for Data Science;
* Basic arithmetic operations.

Examples of popular languages applied to data science are: <br>
1. Python;
1. R;
1. C++;
1. SQL;
1. Javascript.

Some of the commonly used libraries used by Data Scientists include: <br>
1. Numpy;
1. Pandas;
1. Matplotlib;
1. Seaborn;
1. Scikit-learn;
1. Keras;
1. TensorFlow.

|  Data Science Tools  | 
| -------------------  | 
|        MySQL         | 
|    Apache AirFlow    |
|       Kibana         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Fabio Papa Salles